<ion-header>
  <ion-toolbar>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col> Col 1 </ion-col>
      <ion-col> Col 2 </ion-col>
      <ion-col> Col 3 </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> Col 1 </ion-col>
      <ion-col> Col 2 </ion-col>
      <ion-col> Col 4 </ion-col>
      <ion-col> Col 5 </ion-col>
      <ion-col> Col 6 </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button [routerLink]="['/home']">Home</ion-button>

</ion-content>
